<!DOCTYPE html>

<html>

<head>
    <title>Toadette's Thrift</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' type='image/png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/accessStyle.css' %}">
</head>

<body>

    <div class="middleField">

        <h1>Toadette's Thrift</h1>
        <h2> Number of items: {{itemAmount}} </h2>
    </div>

    <div class="cave">
        {% if message %}
        <ul class="messages">
            <li class="{{ message.tags }}"> {{ message }} </li>
        </ul>
        {% endif %}
        <img class="goblin" src="{% static '/images/goblinguard.gif' %}" alt="Goblin Guard">
    </div>


    <form action="{% url 'landing' %}" method="post" class="button-container">
        {% csrf_token %}
        <button type="submit" name="button" value="populate">Populate DB</button>
        <button type="submit" name="button" value="empty">Empty DB</button>
        <button type="submit" name="button" value="proceed">Proceed to ToadettesThrift</button>
    </form>

    </div>



</body>

</html>