@font-face {
    font-family: "PixelFont";
    src: url("/static/fonts/04B_03__.TTF");
}

h1 {
    color: rgb(214, 214, 214);
    font-size: 80px;
    margin-bottom: 80px;
}

h2 {
    color: rgb(214, 214, 214);
    font-size: 30px;
    margin-bottom: 20px;
}

/* Background */

body {
    font-family: "PixelFont";
    background-color: rgb(24, 24, 24);
}

/* Messages */

ul.messages {
    list-style-type: none;

    position: absolute;
    left: 53%;
    right: 47%;
    top: 420px;

    width: 160px;
    height: 80px;

    background-image: url("/static/images/speech_bubble.png");
    background-size: 200px;
    background-repeat: no-repeat;

    padding-top: 21px;

    font-size: 16px;
}

ul.messages li.error {
    text-align: center;
    margin-top: 12%;
    margin-right: 22%;
    color: black;
}

.messageBox {
    position: absolute;
    width: 500px;
}

/* Fields and sections */


.middleField {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

/* Form */

.keyField {
    padding: 80px 0 0 0;
}

input {
    font-family: "PixelFont";
}

.sendButton {
    margin: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 100px;
}

button {
    font-family: "PixelFont";
    font-size: 20px;
    color: rgb(214, 214, 214);
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(214, 214, 214);
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    image-rendering: pixelated;
}

/* Art */


.goblin {
    margin-top: 50%;
    margin-left: 18%;
    margin-right: auto;
}

.cave {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/static/images/pixelcave.png");
    background-size: 500px;
    background-repeat: no-repeat;
}